@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

:root {
/* ### Primary */

--Soft_blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/* ### Neutral */

--darkblue01: hsl(217, 54%, 11%);
--darkblue02: hsl(216, 50%, 16%);
--darkblue03: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--darkblue01);
    height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 375px;
}

.container {
    background-color: var(--darkblue02);
    padding: 20px;
    font-family: "Outfit", sans-serif;
    color: var(--White);
    border-radius: 20px;
}

.img {
    background-position: center;
    background-color: var(--Cyan);
    background-repeat: no-repeat;
    background-size: cover;
    width: 335px;
    height: 335px;
    border-radius: 10px;
}

.img img{
    width: 100%;
    border-radius: 9px;
}

.img img:hover {
    opacity: 0.7;
    cursor: pointer;
}


.content h1 {
    font-weight: 400;
}

.content h1:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.content p {
    font-weight: 300;
    color: var(--Soft_blue);
}

.value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.etherium, .day {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    color: var(--Soft_blue);
}

.etherium {
    color: var(--Cyan);
}

.creator {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--darkblue03);
    margin-top: 20px;
    padding-top: 15px;
}

.creator p {
    padding-left: 20px;
}

.creator img {
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 100%;
}

.creator span {
    color: var(--White);
}

.creator span:hover {
    color: var(--Cyan);
    cursor: pointer;
}