@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
/* ### Primary */

--main_background: hsl(233, 47%, 7%);
--card_background: hsl(244, 38%, 16%);
--accent: hsl(277, 64%, 61%);

/* ### Neutral */

--main_heading: hsl(0, 0%, 100%);
--main_paragraph: hsla(0, 0%, 100%, 0.75);
--stat_headings: hsla(0, 0%, 100%, 0.6);

--font01: 'Inter', sans-serif;
--font02: 'Lexend Deca', serif;

--fweight01: 400;
--fweight02: 700;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: var(--main_background);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 350px;
    background-color: var(--card_background);
    border-radius: 10px;
}

.card {
    background-image: url("../images/image-header-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    height: 279px;
    width: 350px;
}

.card::after {
    background-color: #550081;
    border-radius: 10px 10px 0 0;
    content: '';
    opacity: .5;
    position: absolute;
    height: 279px;
    width: 350px;
  }
  
.overlay {
    background-color: var(--accent);
    border-radius: 10px 10px 0 0;
    mix-blend-mode: difference;
    opacity: .1;
    position: absolute;
    height: 279px;
    width: 350px;
}

.card > img {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 30px 20px;
}

.content > h1 {
    font-weight: var(--fweight02);
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 20px;
    color: white;
    font-family: var(--font01);
}

.content > h1 > span {
    font-weight: var(--fweight02);
    font-size: 1.8rem;
    color: var(--accent);
    font-family: var(--font01);
    text-align: center;
}

.content p {
    text-align: center;
    line-height: 1.6rem;
    color: var(--main_paragraph);
    padding-bottom: 20px;
    font-family: var(--font01);
}

.data {
    padding-top: 15px;
    padding-bottom: 10px;
}

.type {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    font-family: var(--font01);
    color: white;
    font-weight: var(--fweight01);
    padding: 15px;
    font-size: 15px;
}


.type > .number {
    font-family: var(--font01);
    font-weight: var(--fweight02);
    font-size: 1.4rem;
    padding-bottom: 5px;
}

/* @media screen and (min-width: 400px) {
    body {
        display: flex;
        flex-direction: row;
    }
} */