@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
/* ### Primary */

--main_background: hsl(233, 47%, 7%);
--card_background: hsl(244, 38%, 16%);
--accent: hsl(277, 64%, 61%);

/* ### Neutral */

--main_heading: hsl(0, 0%, 100%);
--main_paragraph: hsla(0, 0%, 100%, 0.75);
--stat_headings: hsla(0, 0%, 100%, 0.6);

--font01: 'Inter', sans-serif;
--font02: 'Lexend Deca', serif;

--fweight01: 400;
--fweight02: 700;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: var(--main_background);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 375px;
    background-color: var(--card_background);
    border-radius: 10px;
}

.card {
    background-color: var(--accent);
    opacity: 80%;
    box-shadow: inset 0 0px 20px 5px rgba(255, 255, 255, 0.516);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    
}

.card > img {
    width: 100%;
    height: 100%;
    background-color: var(--accent);
    opacity: 30%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px 15px 20px;
}

.content > h1 {
    font-weight: var(--fweight02);
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 20px;
    color: white;
    font-family: var(--font01);
}

.content > h1 > span {
    font-weight: var(--fweight02);
    font-size: 1.8rem;
    color: var(--accent);
    font-family: var(--font01);
}

.content p {
    text-align: center;
    line-height: 1.8rem;
    color: var(--main_paragraph);
    padding-bottom: 20px;
    font-family: var(--font01);
}

.companies, .templates, .queries {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    font-family: var(--font01);
    color: white;
}

.type {
    font-family: var(--font02);
    font-weight: var(--fweight01);
    padding: 5px;
    font-size: 12px;
}

.number {
    font-weight: var(--fweight02);
    font-size: 1.4rem;
}