@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* ### Primary */

    --Pale_blue: hsl(225, 100%, 94%);
    --Bright_blue: hsl(245, 75%, 52%);

    /* ### Neutral */

    --Very_pale_blue: hsl(225, 100%, 98%);
    --Desaturated_blue: hsl(224, 23%, 55%);
    --Dark_blue: hsl(223, 47%, 23%);

    --font01: 'Red Hat Display', sans-serif;

    --fweight01: 500;
    --fweight02: 700;
    --fweight03: 900;
    
}

* {
    padding: 0;
    margin: 0px;
    font-family: var(--font01);
    
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Pale_blue);
}

main {
    max-width: 375px;
    min-width: 375px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
}

.content {
    padding: 30px;
}

.content h1 {
    padding-bottom: 15px;
}

.content > p {
    padding-bottom: 15px;
    line-height: 1.6rem;
    color: var(--Desaturated_blue);
}

.annual_plan {
    background-color: var(--Very_pale_blue);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    padding: 10px 0;
}

.annual_plan .price {
    justify-self: flex-start;
    color: var(--Desaturated_blue);
}

.strong {
    font-weight: 900;
    color: var(--Dark_blue);
    padding-bottom: 3px;
}

.change > a {
    font-weight: 700;
    color: var(--Dark_blue);
}

.change > a:hover {
    text-decoration: none;
    color: var(--Desaturated_blue);
}

button{
    width: 100%;
    border: 0px;
    background-color: var(--Bright_blue);
    color: white;
    padding: 15px 0;
    margin: 30px 0 20px 0;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 6px 6px 13px  rgba(0, 0, 0, 0.334);
}

button:hover {
    background-color: var(--Desaturated_blue);
    color: white;
    cursor: pointer;
}

.cancel_order:hover {
    cursor: pointer;
    color: black;
    font-weight: 900;
}

@media (min-width: 700px) {
    main {
        max-width: 450px;
        min-width: 450px;
    }
}